APP_NAME=project-catalog-agent
APP_VERSION=0.1.0
ENVIRONMENT=development
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
CLARIFIER_USERNAME=clarifier
CLARIFIER_PASSWORD_HASH=
ESCALATOR_USERNAME=escalator
ESCALATOR_PASSWORD_HASH=

GITHUB_TOKEN=    # not required, for github profile curation
LLM_GATEWAY_URL=  # for langchain
LLM_GATEWAY_API_KEY=  # for langchain
LLM_MODEL= # for langchain

